-# coding: utf-8
%p
	%strong Please set the Current Grading Period for all teachers' activites.
%form{:action => "/admin/go", :method => "POST"}
	%select{:name => "admin_form[current_quarter]"}
		- @quarters.each do |q|
			-if q.grading_period_persist == GradingPeriodPersist.all[0]
				%option{:value => q.id, :selected => 'selected'} #{q.name}
			-else
				%option{:value => q.id} #{q.name}
	%input.button{:type => "submit", :value => "Submit", :title => "Submit", :class => "button"}
%br
%hr
%br
%p WARNING: The following commands will overwrite files in the output directory.
%form{:action => "/admin/create_reports", :method => "POST"}
	%input.button{:id => "create_all_reports", :type => "submit", :value => "RECREATE / CREATE ALL REPORTS", :title => "RECREATE / CREATE ALL REPORTS", :class => "button"}
%br
%a{:href => "/reports/output.pdf", :target => "blank"} Generated PDF
%hr
-Student.all.each do |student|
	%form{:action => "/admin/create_report/#{student.id}", :method => "POST"}
		%input.button{:type => "submit", :value => "Create #{student.name}'s Report Card", :title => "Create #{student.name}'s Report Card", :class => "button"}
	%a{:href => "/reports/REPORT_CARD_#{student.name}.html", :target => "blank"} See output
