-# coding: UTF-8
%table(class="core")
	%tr
		%td(class="table_header" ) Citzenship ‒ Teacher #{@student_var.citizenship_t}
%table(class="core")
	%tr(class="o_g_c_set")
		%td
			%table(class="nested")
				%tr(class="borderless")
					%td(class="setwidth-o")
					%td(class="setwidth-g")
				- @student_var.citizenship_o_g_pairs.each do |pair|
					%tr(class="o_g_pair")
						%td(class="outcome")= "#{pair[0]}"
						%td(class="grade")= "#{pair[1]}"
			%td(class="comment" class="sweet-justice")
				:markdown
					#{@student_var.citizenship_c}