-# coding: UTF-8
%table(class="core")
	%tr
		%td(class="table_header" )  Mathematics ‒ Teacher #{@student.math_t}
%table(class="core")
	%tr(class="o_g_c_set")
		%td
			%table(class="nested")
				%tr(class="borderless")
					%td(class="setwidth-o")
					%td(class="setwidth-g")
				- @student.math_o_g_pairs[0..1].each do |pair|
					%tr(class="o_g_pair")
						%td(class="outcome")= "#{pair[0]}"
						%td(class="grade")= "#{pair[1]}"
				%tr
					%td(class="subhead" colspan="2") Concept Application:
				- @student.math_o_g_pairs[2..6].each do |pair|
					%tr(class="o_g_pair")
						%td(class="outcome")= "#{pair[0]}"
						%td(class="grade")= "#{pair[1]}"
			%td(class="comment" class="sweet-justice")
				:markdown
					#{@student.math_c}
