-# coding: UTF-8
%table(class="special")
	%tr(class="subject")
		%td(class="table_header") #{@student_var.thai}
	%tr
		%td(class="teacher") Teacher #{@student_var.thai_t}
%table(class="special")
	%tr(class="o_g_c_set")
		%td(class="nest")
			%table(class="nested")
				%tr(class="borderless")
					%td(class="setwidth-o")
					%td(class="setwidth-g")
				- @student_var.thai_o_g_pairs.each do |pair|
					%tr(class="o_g_pair")
						%td(class="outcome")= "#{pair[0]}"
						%td(class="grade")= "#{pair[1]}"
			%td(class="comment" class="sweet-justice")
				:markdown
					#{@student_var.thai_c}
