-# coding: utf-8
!!!
%link(rel="icon" type="image/png" href="/favicon.png")
%title= @title
%meta{ :charset => "utf-8" }
%meta{ :content => "", :name => "description" }
%meta{ :content => "", :name => "author" }
%link(type="text/css" rel="stylesheet" href="/css/common.css" )
%section
	%header.top
		- title = @title.upcase unless @title.nil?
		- quarter = (GradingPeriod.find($current_quarter).name).upcase unless $current_quarter.nil?
		%h2.top #{quarter}
		%h2.top #{title}
		%p= "You are logged in  as #{(session[:teacher_id] == "attendance") ? "Dear" : ""}"
		%div.nav
			= partial( :"attendance/attendance_nav" )
	%article
		= yield
		%footer.foot
			.footer