-# coding: utf-8
!!!
%html
	%head
		%link( rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
		%link( rel="icon" href="/favicon.ico" type="image/x-icon")
		%title= @title
		%meta{ :charset => "utf-8" }
		%meta{ :content => "", :name => "description" }
		%meta{ :content => "", :name => "author" }
		%link(type="text/css" rel="stylesheet" href="/css/common.css" )
	%body
		%section
			%header.top
				- title = @title.upcase unless @title.nil?
				- quarter = (GradingPeriod.find(GradingPeriodPersist.all[0].grading_period.id.to_s).name).upcase unless GradingPeriodPersist.all[0].grading_period.id.to_s.nil?
				%h2.top #{quarter}
				%h2.top #{title}
				%p= "You are logged in  as #{(session[:teacher_id] == "attendance") ? "Dear" : ""}"
				%div.nav
					= partial( :"attendance/attendance_nav" )
			%article
				= yield
				%footer.foot
					.footer