-# coding: utf-8
!!!
%link(rel="icon" type="image/png" href="/favicon.png")
%title= @title
%meta{ :charset => "utf-8" }
%meta{ :content => "", :name => "description" }
%meta{ :content => "", :name => "author" }
- if settings.css_files == :blob
	%link(type="text/css" rel="stylesheet" href="/blob.css?modified=#{File.mtime('public/blob.css').to_i}" )
- else
	- settings.css_files.each do |css|
		%link(type="text/css" rel="stylesheet" href="/css/#{css}" )
- if settings.js_files == :blob
	%script(type="text/javascript" src="/blob.js?modified=#{File.mtime('public/blob.js').to_i}")
- else
	- settings.js_files.each do |js|
		%script(type="text/javascript" src="/js/#{js}")
%section
	%header.top
		%h2.top= @title.upcase unless @title.nil?
		%div.nav
			=render_navigation
	%article
		= yield
		%footer.foot
			.footer
				:markdown
					When working with comments, surround text to be bolded with two asterisks. Single astrerisks will produce italicized text.
					
					Example: \*\*This text will be bold.\*\*  Produces: **This text will be bold.**
					
					Example: \*This text will be italicized.\*  Produces: *This text will be italicized.*
			%h4
				%a{:href => "http://daringfireball.net/projects/markdown/syntax#em", :target => "blank"} Complete Markdown Reference
%h2