-# coding: utf-8
!!!
%html
	%head
		%link( rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
		%link( rel="icon" href="/favicon.ico" type="image/x-icon")
		%title= @title
		%meta{ :charset => "utf-8" }
		%meta{ :content => "", :name => "description" }
		%meta{ :content => "", :name => "author" }
		%link{ :type => "text/css", :rel => "stylesheet", :href => "/css/common.css" }
		/ semantic
		%link{:href => "http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700", :rel => "stylesheet", :type => "text/css"}
		%link{:href => "/css/semantic_ui/css/semantic.css", :rel => "stylesheet", :type => "text/css"}
		%script{:src => "http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"}
		%script{:src => "/css/semantic_ui/javascript/semantic.js"}
	%body	
		%section
			%header.top
				%h2.top= @title.upcase unless @title.nil?
				%h2.top#warning= "SET THE GRADING PERIOD" if GradingPeriodPersist.all[0].grading_period.id.to_s.nil?
				%h2.top #{(GradingPeriod.find(GradingPeriodPersist.all[0].grading_period.id.to_s).name).upcase unless GradingPeriodPersist.all[0].grading_period.id.to_s.nil?}
				%div.nav
					=render_navigation
			%article
				= yield
				%footer.foot
					.footer
